:root [data-theme="vietnam"] {
  --content-box-text-color: #bdc3c7;
  --content-box-bg-color: #006600;

  --background-image: url('../assets/background-vietnam.png');

  --default-text-color: #bdc3c7;
  --default-text-font: "Courier New", Courier, monospace;
}
