:root [data-theme="vietnam"] {
  --color-primary: #006600;
  --color-secondary: #bdc3c7;

  --content-box-text-color: var(--color-secondary);
  --content-box-bg-color: var(--color-primary);

  --background-image: url('../assets/background-vietnam.png');

  --default-text-color: var(--color-secondary);
  --default-text-font: "Courier New", Courier, monospace;
}
