body,
html {
  height: 100%;
  margin: 0;
}

.background--image {
  background-image: url('./background.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
}

.content__middle--center {
  color: #F4E4C1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-box {
  background-color: #8B4513;
  padding: 15px 40px 15px 40px;
}

@media (max-width: 600px) {
  .content__middle--center {
    top: 25%;
  }
}

.content__bottom {
  position: absolute;
  bottom: 0;
  font-size: 15px;
}

.content__bottom--left {
  left: 16px;
}

.hyperlink {
  color: white;
  font-weight: normal;
}

.horizontal-rule {
  margin: auto;
  width: 40%;
}