@use './edu-nsw-act';

:root [data-theme="southafrica"] {
  --color-primary: #8B4513;
  --color-secondary: #F4E4C1;

  --content-box-text-color: var(--color-secondary);
  --content-box-bg-color: var(--color-primary);

  --background-image: url('../assets/background-southafrica.png');

  --default-text-color: #ffffff;
  --default-text-font: "Edu NSW ACT Hand Pre", "Courier New", Courier, monospace;
}
