:root [data-theme="default"] {
  --content-box-text-color: #bdc3c7;
  --content-box-bg-color: #34495e;

  --background-image: url('../assets/background-default.png');

  --default-text-color: #bdc3c7;
  --default-text-font: "Courier New", Courier, monospace;
}
